/*color scheme - generic hacking screen
black - #000
green - #10ff00
font - courier (monospace to make it look more like a generic hacking screen)
*/

body { /*black*/
	margin: 7px;
	padding: 7px;
	background-color:#000;
	color:#10ff00;
	font-family:Courier; /*monospace to make more like a generic hacking screen*/
}

h1,h2 {
	text-align:center; /*headings should be centered*/
}
p,form,button { /*bigger font size for visibility*/
	font-size:1.25em;
	margin:7px;
}
button { /*button with green borders*/
	border: 3px #10ff00 solid;
}
input{ /*input box has green borders*/
	width:100%;
	font-size:1em;
	background-color:#111;
	color:#10ff00;
	font-family:Courier;
	border: 1px solid #10ff00;
}
img {
	margin:10px;
}
img.lock { /*slightly transparent by default*/
	display:block;
	margin:auto;
	height:200px;
	opacity:0.9;
}
img.lock:hover { /*when you hover over it, it becomes opaque*/
	width:188px;
	height:205px;
	opacity:1.0;
}
img.keyboard { /*same thing goes for the keyboard and hacker, although the keyboard is moved to the back and positioned absolutely*/
	display:block;
	margin:auto;
	z-index:-1;
	opacity:0.9;
	position:absolute;
	top:500px;
	height:200px;
}
img.keyboard:hover{
	opacity:1.0;
	height:205px;
}
img.hacker {
	opacity:0.9;
	height:178px;
}
img.hacker:hover{
	opacity:1.0;
	height:180px;
}
div#compScreen { /*the main screen of the game can scroll and has a cool border*/
	border: 5px #10ff00 outset;
	background-color: #111;
	width:75%;
	height:360px;
	padding:7px;
	overflow-y:scroll;
}
input,div#compScreen { /*custom cursor*/
	cursor:url("../Images/greenCursor.png"),cell;
}
ul.sidebar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; /*for the picture*/
    background-color: #111;
	position:fixed;
	bottom:0;
	width:97%;
	border: 3px #10ff00 solid;
	height:43px;
}

ul.sidebar li.left { /*floated left*/
    float: left;
	border-right: 3px #10ff00 solid;
}
ul.sidebar li.right { /*floated right*/
	float: right;
	border-left: 3px #10ff00 solid;
}

ul.sidebar li.pic {
	float: left;
	background-image:url('Images/binary.jpg'); /*beautiful picture*/
	padding:0;
	margin:0;
}

ul.sidebar li a { 
    display: block;
    color: #10ff00;
    text-align: center;
	padding: 14px 16px;
    text-decoration: none;
}
a#binaryBg:hover,a#binaryBg:active {
	background-color:transparent;
	cursor:auto;
}

th#x:hover,ul.sidebar li a:hover {
    background-color:green;
	color:white;
	cursor:pointer;
}
th#x:active,ul.sidebar li a:active {
	background-color:#006400;
}
div.bg {
	background-image:url('Images/binary.jpg');
	display:block;
}
table#popup {
	margin:7px;
	width:17.8%;
	position:absolute;
	top:290px;
	width:228px;
}
table#popup, th, td {
	border: 3px #10ff00 solid;
	border-collapse:collapse;
	padding:3px;
	background-color:#111;
}
td#info {
	height:205px;
	padding:7px;
	text-align:center;
}
div#wrapper { /*needed because table cannot have scrolling*/
	overflow-y:scroll;
	height:205px;
	padding-right:7px;
}
	
th#x {
	width:16px;
}
ul {
	list-style-type:disc;
}
span.redWhite { /*flashing text*/
    color: white;
    animation-name: whiteRed;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes whiteRed {
    0%   {color: white;}
    50%  {color: red;}
    100% {color: white;}
}
span.red {
	color:red;
}
.hidden{
	visibility:hidden;
}